<% if planet.nature == "terrestrial" %>
  <div class="planet terrestrial">
  <%= planet.name.capitalize %> <i class="fa fa-globe fa-2x fa-spin"></i>
<% else %>
  <div class="planet giant">
  <%= planet.name.capitalize %> <i class="fa fa-eercast fa-2x fa-spin"></i>
<% end %>

  <%= link_to "X", planet, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger btn-xs" %>
  </div>
